* {
  margin: 0;
  padding: 0;
}

.bg-nav {
  background-color: rgba(206, 170, 78, 0.466);
}

.boton-home {
  border-style: solid;
  background-color: #D4252A;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  border-width: 2px 2px 2px 2px;
  border-radius: 15px 15px 15px 15px;
  padding: 10px;
  color: white;
  font-style: oblique;
  text-decoration: none;
}
.boton-home:hover {
  background-color: black;
  color: white;
  transition: all 0.1s;
}

.parrafo-1 {
  padding: 40px;
  padding-left: 200px;
  background-color: white;
  text-align: center;
  color: #1D1D1D;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  width: 80%;
}

.bg-home-habitaciones {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgba(206, 169, 78, 0.726);
}

.hab-home {
  display: flex;
  justify-content: center;
}

.h1-habitaciones {
  border-bottom: solid 5px #1D1D1D;
  padding-bottom: 10px;
  text-align: center;
  color: white;
  font-family: "Roboto", Sans-serif;
}
.h1-habitaciones:hover {
  color: #1D1D1D;
  border-bottom: solid 5px white;
}

.container-card-home {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ubicacion-home {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.ubicacion-h3 {
  border-bottom: 5px solid black;
}

.ratio {
  border: rgba(0, 0, 0, 0.521) 4px solid;
  margin: auto;
  width: 700px;
  height: 500px;
}

.parrafo-ubicacion {
  padding: 40px;
  padding-left: 200px;
  background-color: white;
  text-align: center;
  color: #1D1D1D;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  width: 80%;
}

.container-habitaciones P {
  position: absolute;
  top: 50%;
  left: 25%;
  color: #FFFFFF;
  font-family: "Roboto", Sans-serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 30px;
}

.img-inicio-hab {
  display: flex;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.conteiner-habitaciones {
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgba(206, 169, 78, 0.726);
}

.especificacion-depto {
  width: 500px;
  height: 450px;
  padding-top: 40px;
  font-family: "Roboto", Sans-serif;
}

.lista-especificacion-1 {
  padding: 8px;
}

.carousel {
  width: 500px;
}

.carousel-item {
  width: 500px;
  height: 450px;
}

.carousel-item img {
  padding-top: 50px;
  padding-left: 10px;
  width: 500px;
  height: 450px;
  object-fit: cover;
  padding-bottom: 20px;
}

.h3-habitaciones {
  color: rgba(255, 255, 255, 0.568627451);
}

.inicio-servicios p {
  position: absolute;
  top: 50%;
  left: 35%;
  color: #FFFFFF;
  font-family: "Roboto", Sans-serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 30px;
}

.parrafo1-servicios {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.parrafo2-servicios {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-family: "Roboto", Sans-serif;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.conteiner-servicios {
  padding-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 150px;
  padding-left: 80px;
  gap: 50px;
}

.conteiner-servicios p {
  font-family: "Roboto", Sans-serif;
  letter-spacing: 2.5px;
}

.img-icono {
  width: 120px;
  height: 120px;
}

.inicio-galeria {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.h2-galeria {
  border-bottom: solid 5px #1D1D1D;
  padding-bottom: 10px;
  text-align: center;
  color: #1D1D1D;
  font-family: "Roboto", Sans-serif;
  letter-spacing: 2.5px;
}

.conteiner-galeria {
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 50px;
}

.img-galeria {
  width: 450px;
  height: 400px;
}

.img-galeria img {
  width: 450px;
  height: 400px;
  object-fit: cover;
}

@media only screen and (max-width: 860px) {
  .ratio {
    border: #D4252A 3px solid;
    margin: auto;
    width: 350px;
    height: 300px;
  }
}
@media only screen and (max-width: 860px) {
  .parrafo-1, .parrafo-ubicacion {
    padding: 20px;
    background-color: white;
    text-align: center;
    color: #1D1D1D;
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    width: 100%;
  }
}
@media only screen and (max-width: 860px) {
  .container-habitaciones P {
    position: absolute;
    top: 50%;
    left: 25%;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }
}
@media only screen and (max-width: 860px) {
  .conteiner-habitaciones {
    padding-top: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(206, 169, 78, 0.726);
  }
}
@media only screen and (max-width: 800px) {
  .carousel {
    width: 300px;
  }
}
@media only screen and (max-width: 800px) {
  .carousel-item {
    width: 300px;
    height: 250px;
  }
}
@media only screen and (max-width: 800px) {
  .carousel-item img {
    padding-top: 50px;
    padding-left: 10px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 800px) {
  .especificacion-depto {
    width: 500px;
    height: 450px;
    padding: 10px;
  }
}
@media only screen and (max-width: 860px) {
  .inicio-servicios p {
    position: absolute;
    top: 50%;
    left: 30%;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10.5px;
  }
}
@media only screen and (max-width: 860px) {
  .conteiner-servicios {
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 150px;
    padding-left: 10px;
    gap: 50px;
  }
}
@media only screen and (max-width: 860px) {
  .parrafo1-servicios {
    padding-top: 20px;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
  }
}
@media only screen and (max-width: 460px) {
  .conteiner-galeria {
    padding-top: 10px;
    gap: 15px;
  }
}
@media only screen and (max-width: 460px) {
  .img-galeria {
    width: 300px;
    height: 200px;
  }
}
@media only screen and (max-width: 460px) {
  .img-galeria img {
    width: 300px;
    height: 200px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=style.css.map */
