
.container-habitaciones P{
    position: absolute;
    top: 50%;
    left: 25%;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 30px;

   
}



.img-inicio-hab{
    // border: solid 3px rgb(72, 255, 0);
    display: flex;
    width: 100%;
    height: 600px;
    object-fit: cover;
}




.conteiner-habitaciones{
    padding-top: 50px;
    // border: solid 3px rgb(128, 19, 0);
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(206, 169, 78, 0.726);

}

.especificacion-depto{
    // border: solid 3px blue;
    width: 500px;
    height: 450px;
    padding-top: 40px;
  
}

.lista-especificacion-1{
    padding: 8px;
}


.carousel{
    // border: solid 3px blue;
    width: 500px;
}


.carousel-item{
    width: 500px;
    height: 450px;
    border: solid 3px red;

}

.carousel-item img{
    padding-top: 50px;
    padding-left: 10px;
    width: 500px;
    height: 450px;
    object-fit: cover;
    padding-bottom: 20px;
    border: solid 3px red;
}

.h3-habitaciones{
    color: #ffffff91;
}