@media only screen and (max-width: 860px){
    .ratio{
        border: #D4252A 3px solid;
        margin: auto;
        width: 350px;
        height: 300px;
      
    }
      }


@media only screen and (max-width: 860px){
    .parrafo-1, .parrafo-ubicacion{
  padding: 20px;
  background-color: #ffff;
  text-align: center;
  color: #1D1D1D;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  width: 100%;
    
    }
      }      

@media only screen and (max-width: 860px){
      .container-habitaciones P{
        position: absolute;
        top: 50%;
        left: 25%;
        color: #FFFFFF;
        font-family: "Roboto", Sans-serif;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 0.5px;
      }
    }


@media only screen and (max-width: 860px){
    .conteiner-habitaciones{
      padding-top: 50px;
      // border: solid 3px rgb(128, 19, 0);
      width: 100%;
      display: flex;
      flex-wrap: wrap;
     
      background-color: rgba(206, 169, 78, 0.726);
    }
  }

  @media only screen and (max-width: 800px){
    .carousel{
    
      width: 300px;    
    
    }
    }

@media only screen and (max-width: 800px){
.carousel-item{

  width: 300px;
  height: 250px;

}
}

@media only screen and (max-width: 800px){
  .carousel-item img{
    padding-top: 50px;
    padding-left: 10px;
    width: 300px;
    height: 250px;
    object-fit: cover;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 800px){
.especificacion-depto{
  // border: solid 3px blue;
  width: 500px;
  height: 450px;
  padding: 10px;
}
}

@media only screen and (max-width: 860px){
  .inicio-servicios p{
    position: absolute;
    top: 50%;
    left: 30%;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 10.5px;
  }
}

@media only screen and (max-width: 860px){

  .conteiner-servicios{
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat( 2, 1fr);
    grid-template-rows: 150px;
    padding-left: 20px;
    gap: 50px;
      
  }
}