@media only screen and (max-width: 860px){
    .ratio{
        border: #D4252A 3px solid;
        margin: auto;
        width: 350px;
        height: 300px;
      
    }
      }


@media only screen and (max-width: 860px){
    .parrafo-1, .parrafo-ubicacion{
  padding: 20px;
  background-color: #ffff;
  text-align: center;
  color: #1D1D1D;
  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  width: 100%;

     
      
    }
      }      