.inicio-servicios p{
    position: absolute;
    top: 50%;
    left: 35%;
    color: #FFFFFF;
    font-family: "Roboto", Sans-serif;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 30px;
   
}

.parrafo1-servicios{

    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
}

.parrafo2-servicios{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    letter-spacing: 2.5px;
}


.conteiner-servicios{
    padding-top: 90px;
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-template-rows: 3;
    justify-items: center;
    

}

.conteiner-servicios p{
    font-family:"Roboto", Sans-serif;
    letter-spacing: 2.5px;

}



.img-icono{
    width: 150px;
    height: 150px;
}